<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Kevin Martins" class="rounded-circle img-fluid" src="assets/images/kevin_maritns.jpg" />
    <span>{{title}}</span>
    <div class="spacer"></div>
    <a class="btn btn-link text-white text-center" target="_blank" rel="noopener" href="https://github.com/KevinMartins367" title="github">
        <i class="bi bi-github" height="36"></i>
    </a>
</div>


<div class="container-fluid">
    <div class="content-wrapper">

        <ng-container *ngIf="result != 0">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm text-center">
                    <div>
                        <h1>{{result}}</h1>
                    </div>
                </div>
                <div class="col-sm"></div>
            </div>

        </ng-container>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-3 text-center">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="value_interger" class="form-label">Numero inteiro</label>
                            <input type="number" class="form-control" id="value_interger" #value_interger placeholder="10" required>
                            <div class="valid-feedback">Tudo ok!
                            </div>
                            <div class="invalid-feedback">
                                Por favor valida se escreveu um numero inteiro
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success" (click)='SomeValues(value_interger.value)'>somar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        feito por <a href="https://api.whatsapp.com/send?phone=5511957713498&text=Ol%C3%A1%20Kevin%20acabei%20de%20testar%20sei%20app..." target="_blank"> Kevin Martins</a>
    </footer>
</div>

<router-outlet></router-outlet>
